<h2 mat-dialog-title>Sign Up</h2>
<mat-dialog-content>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Mobile Number</mat-label>
      <input matInput formControlName="mobileNumber" placeholder="Mobile Number" autocomplete="off">
      <mat-error *ngIf="signupForm.get('mobileNumber')?.invalid && signupForm.get('mobileNumber')?.touched">
        Mobile Number is required
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Password" autocomplete="new-password">
      <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        Password is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button type="submit" [disabled]="signupForm.invalid" (click)="onSubmit()">Sign Up</button>
  <a mat-button [routerLink]="['/outer/login']">Login</a>
  <button mat-button (click)="onCancel()">Close</button>
</mat-dialog-actions>
