<app-header></app-header>

<!-- Carousel -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/crousel-I.jpg"
          class="d-block w-100" alt="M35" height="500px">
      </div>
      <div class="carousel-item">
        <img src="/assets/crousel-III.jpg" class="d-block w-100" alt="M17" height="500px">
      </div>
      <div class="carousel-item">
        <img src="/assets/crousel-II.avif"
          class="d-block w-100" alt="Hellicopter" height="500px">
      </div>
    </div>
  </div>



   <!-- Why Buy From Us Section -->
   <section class="why-buy">
    <h2>Why Buy From Us</h2>
    <div class="cards-container">
      <div class="card">
        <img
          src="/assets/HIPPAA.avif"
          alt="Supersonik Warranty">
        <h3>HIPAA Compliance:</h3>
        <p> Ensure compliance with HIPAA regulations, protecting patient data and reducing risk.</p>
      </div>
      <div class="card">
        <img
          src="/assets/Security.jpeg"
          alt="140 Quality Check">
        <h3>Security and Backup:</h3>
        <p> Ensure data security and automatic backups, protecting against data loss and system downtime.</p>
      </div>
      <div class="card">
        <img src="/assets/Medical-code.jpeg" alt="Easy Returns">
        <h3>Billing and Coding:</h3>
        <p> Automate billing and coding processes, reducing errors and increasing accuracy.</p>
      </div>
      <div class="card">
        <img src="/assets/analysis.jpeg"
          alt="Free Servicing">
        <h3>Reporting and Analytics:</h3>
        <p> Generate detailed reports and analytics to track practice performance and identify areas for improvement.</p>
      </div>
    </div>
  </section>

<app-footer></app-footer>