<!-- Hero Section -->
<section class="hero">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <img src="assets/images/hero-image.jpg" alt="Hero Image">
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>Welcome to Our Medicine Home Page</h1>
            <p>Get the best medical care and treatment from our experienced doctors and staff.</p>
            <button mat-raised-button color="primary">Learn More</button>
        </mat-card-content>
    </mat-card>
</section>

<!-- Features Section -->
<section class="features">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Our Services</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    <mat-icon>medical_services</mat-icon>
                    <span>Medical Check-ups</span>
                    <img src="/assets/medical-checkup.avif" alt="Medical Check-up">
                </li>
                <li>
                    <mat-icon>local_pharmacy</mat-icon>
                    <span>Medicine Prescription</span>
                    <img src="/assets/medical-descrip.avif" alt="Medicine Prescription">
                </li>
                <li>
                    <mat-icon>assessment</mat-icon>
                    <span>Diagnostic Services</span>
                    <img src="/assets/diagnos.avif" alt="Diagnostic Services">
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</section>